.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  width: 100%;
  display: flex;
}

.col {
  max-width: 100%;
  width: auto;
  height: 80vh;
  border: 1px solid #ccc;
}
